<h1 class="mb-3"><%= @author.name %></h1>

<%= if Enum.empty?(@quotes) do %>
  <p>The author has no quotes.</p>
<% end %>

<%= for q <- @quotes do %>
  <%= render MyPersonalSpaceWeb.QuotesView, "card.html", conn: @conn, quote: q, show_author: false %>
<% end %>
