<%= for q <- @quotes do %>
  <div class="card mb-4">
    <div class="card-body">
      <p><%= q.text %></p>
      <a href="<%= Routes.authors_path(@conn, :show, q.author.slug) %>"><%= q.author.name %></a>
    </div>
  </div>
<% end %>
