<%= form_for @changeset, Routes.picoquotes_authors_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <label for="author_name">Author name</label>
    <%= text_input f, :name, class: "form-control" %>
  </div>

  <%= submit "Create", class: "btn btn-primary" %>
<% end %>
